<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" formControlName="email"/>
            <label class="form-label" for="form2Example1">Email address</label>
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" formControlName="password"/>
            <label class="form-label" for="form2Example2">Password</label>
          </div>
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-2">Loguearse</button>
          <button type="button" class="btn btn-danger btn-block mb-4" (click)="onGoogleLogin()">Google</button>
          <!-- Register buttons -->
          <div class="">
            <p class="mb-0">Crear un cuenta <a [routerLink]="['/register']" class="text-body fw-bold">Registrarse</a></p>
          </div>
        </form>
      </div>
    </div>  
  </div>
</div>

